// ---- ---- color ---- ---- //
$color_white: #ffffff;
$color_t_main: #35312e;
$color_t_dark: #4f463f;
$color_t_grey: #6e6259;
$color_t_info: #6e635a;
$color_t_accent: #670a18;
$color_t_footer: rgba(245, 241, 233, 0.6);
$color_t_light: #fcfaf6;
$color_t_footer-copy: rgba(252, 250, 246, 0.5);
$color_bg_light: #f0eedd;
$color_bg: #f5f1e9;
$color_bg_dark: #6c674d;
$color_bg_accent: #807c62;
$color_bg_button: #d37657;
// ---- ---- main ---- ---- //
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color_t_main;
  img {
    // width: 100%;
  }
}
.container {
  max-width: 1085px;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
// ---- ---- Title ---- ---- //
.title {
  &__h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 1px;
  }
  //   &__h4 {
  //     font-size: 48px;
  //     font-weight: 700;
  //     line-height: 1;
  //   }
  //   &__h5 {
  //     font-size: 18px;
  //     font-weight: 700;
  //     line-height: 28px;
  //   }
}

// ---- ---- menu ---- ---- //
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 48px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  &__item {
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo-link {
    display: block;
    margin-right: 30px;
  }
}
// .menu__btn {
//   position: relative;
//   display: none;
//   width: 20px;
//   z-index: 10;
//   cursor: pointer;
//   span {
//     display: block;
//     transition: all 0.2s;
//     width: 100%;
//     height: 1px;
//     background-color: $color_t_dark;
//     & + span {
//       margin-top: 6px;
//     }
//   }
// }
// .menu__btn.menu__btn--active {
//   span:nth-child(1) {
//     transform: translateY(5px) rotate(45deg);
//   }
//   span:nth-child(2) {
//     opacity: 0;
//   }
//   span:nth-child(3) {
//     transform: translateY(-9px) rotate(135deg);
//   }
// }
// .menu.menu--active {
//   transform: translateY(0);
// }
// ---- ---- btn ---- ---- //
.button {
  width: 100%;
  max-width: 248px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $color_white;
  background-color: $color_bg_button;
  padding: 20px 30px;
  &:hover {
    text-decoration: underline;
  }
}
// ---- ---- footer ---- ---- //
.footer {
  padding-top: 80px;
  background-color: $color_bg_dark;
  &__top {
  }
  &__contact-box {
  }
  &__contact-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0.7px;
    color: $color_bg;
  }
  &__contact-text {
    line-height: 24px;
    color: $color_t_light;
  }
  &__form {
  }
  &__email {
  }
  &__btn {
  }
  &__links-box {
  }
  &__items-wrap {
  }
  &__items-box {
  }
  &__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color_bg;
  }
  &__items {
  }
  &__item {
    font-size: 16px;
    line-height: 31px;
    color: $color_t_footer;
  }
  &__link {
  }
  &__country {
  }
  &__country-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color_bg;
  }
  &__country-box {
  }
  &__country-img {
  }
  &__bottom {
    line-height: 27px;
    color: $color_t_footer-copy;
    background-color: $color_bg_accent;
  }
  &__copy-text {
  }
  &__copy-box {
  }
  &__copy-link {
  }
}
