// ---- ---- color ---- ---- //
$color_white: #ffffff;
$color_t_main: #35312e;
$color_t_dark: #4f463f;
$color_t_grey: #6e6259;
$color_t_info: #6e635a;
$color_t_accent: #670a18;
$color_t_footer: rgba(245, 241, 233, 0.6);
$color_bg_light: #f0eedd;
$color_bg: #f5f1e9;
$color_bg_dark: #6c674d;
$color_bg_accent: #807c62;
// ---- ---- main ---- ---- //
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  // color: $color_t_dark;
  // background-color: $color_light;
  img {
    // width: 100%;
  }
}
.container {
  max-width: 1085px;
  padding: 0 10px;
  margin: 0 auto;
}
// ---- ---- Title ---- ---- //
// .title {
//   &__h1 {
//     font-size: 64px;
//     font-weight: 700;
//     line-height: 1;
//   }
//   &__h3 {
//     font-size: 48px;
//     font-weight: 700;
//     line-height: 1;
//   }
//   &__h5 {
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 28px;
//   }
// }
// ---- ---- menu ---- ---- //

// .menu__btn {
//   position: relative;
//   display: none;
//   width: 20px;
//   z-index: 10;
//   cursor: pointer;
//   span {
//     display: block;
//     transition: all 0.2s;
//     width: 100%;
//     height: 1px;
//     background-color: $color_t_dark;
//     & + span {
//       margin-top: 6px;
//     }
//   }
// }
// .menu__btn.menu__btn--active {
//   span:nth-child(1) {
//     transform: translateY(5px) rotate(45deg);
//   }
//   span:nth-child(2) {
//     opacity: 0;
//   }
//   span:nth-child(3) {
//     transform: translateY(-9px) rotate(135deg);
//   }
// }
// .menu.menu--active {
//   transform: translateY(0);
// }
// ---- ---- btn ---- ---- //
// .button {
//   font-weight: 600;
//   line-height: 28px;
//   text-transform: uppercase;
//   color: $color_light;
//   background-color: $color_accent;
//   border-radius: 8px;
//   padding: 10px 31px;
//   &:hover {
//     text-decoration: underline;
//   }
// }
