// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// ---- ---- reset ---- ---- //
@import 'normalize.scss';
@import 'myreset.scss';
@import 'base.scss';
@import 'global.scss';
// ---- ---- hero ---- ---- //
.header {
  &__top {
    background-color: $color_bg_light;
    text-align: center;
    padding: 10px 0;
  }
  &__top-text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color_t_accent;
  }
}
// ---- ---- hero ---- ---- //
.hero {
  &__text {
  }
  &__title {
  }
  &__btn {
  }
}
// ---- ---- quotes ---- ---- //
.quotes {
  background-color: $color_bg;
  &__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 42px;
    margin-bottom: 40px;
  }
  &__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 45px;
  }
}
// ---- ---- welcome ---- ---- //
.welcome {
  &__text-title {
  }
  &__text {
  }
}
// ---- ---- custome ---- ---- //

// ---- ---- client ---- ---- //

// ---- ---- contact ---- ---- //

// ---- ---- footer ---- ---- //

// ---- ---- media ---- ---- //
@import 'media.scss';

.designed {
  &__text {
  }
  &__colors {
  }
  &__img {
  }
}
.shop {
  &__title-text {
  }
  &__text {
  }
  &__box {
  }
  &__item {
  }
  &__item-img {
  }
  &__item-title {
  }
  &__price {
  }
  &__item-text {
  }
  &__input-box {
  }
}
.follow {
  &__box {
  }
  &__img-box {
  }
  &__img-box--left {
  }
  &__img {
  }
  &__text-box {
  }
  &__hashtag {
  }
  &__text {
  }
  &__button {
  }
  &__img-box--right {
  }
}
