// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// ---- ---- reset ---- ---- //
@import 'normalize.scss';
@import 'myreset.scss';
@import 'base.scss';
@import 'global.scss';
// ---- ---- hero ---- ---- //
.header {
  &__top {
    background-color: $color_bg_light;
    text-align: center;
    padding: 10px 0;
  }
  &__top-text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color_t_accent;
  }
}
// ---- ---- hero ---- ---- //
.hero {
  &__text {
  }
  &__title {
  }
  &__btn {
  }
}
// ---- ---- quotes ---- ---- //
.quotes {
  &__text {
  }
  &__box {
  }
  &__img {
  }
}
// ---- ---- branding ---- ---- //

// ---- ---- custome ---- ---- //

// ---- ---- client ---- ---- //

// ---- ---- contact ---- ---- //

// ---- ---- footer ---- ---- //

// ---- ---- media ---- ---- //
@import 'media.scss';

.nav {
}
.menu {
  &__item {
  }
  &__link {
  }
  &__logo-link {
  }
  &__logo {
  }
  &__card-box {
  }
}
.title {
  &__h1 {
  }
  &__h4 {
  }
  &__h5 {
  }
}
.button {
}

.welcome {
  &__text-title {
  }
  &__text {
  }
}
.designed {
  &__text {
  }
  &__colors {
  }
  &__img {
  }
}
.shop {
  &__title-text {
  }
  &__text {
  }
  &__box {
  }
  &__item {
  }
  &__item-img {
  }
  &__item-title {
  }
  &__price {
  }
  &__item-text {
  }
  &__input-box {
  }
}
.follow {
  &__box {
  }
  &__img-box {
  }
  &__img-box--left {
  }
  &__img {
  }
  &__text-box {
  }
  &__hashtag {
  }
  &__text {
  }
  &__button {
  }
  &__img-box--right {
  }
}
